<% include ../partials/header.ejs %>

    <!-- Embed content here -->

    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h1><%= title %></h1>
                <a class="btn btn-primary" href="/contactList/add" role="button">
                <i class="fa fa-plus-circle"></i>
                Add a Contact</a>
                <br><br>
                <table class="table table-brodered table-striped table-hover">
                    <!-- Header Row -->
                    <tr>
                        <th class="text-centre">First Name</th>
                        <th class="text-centre">Last Name</th>
                        <th class="text-centre">Age</th>
                    </tr>

                    <!-- Repeatable Template Row -->
                    <% for(let count=0; count<contactList.length; count++){ %>
                    <tr>
                        <td class="text-centre"><%= contactList[count].firstName %></td>
                        <td class="text-centre"><%= contactList[count].lastName %></td>
                        <td class="text-centre"><%= contactList[count].age %></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>

<% include ../partials/footer.ejs %>